Scratch
.venv
venv311
main/__pycache__
Batch/__pycache__
Batch/common/__pycache__
.venv311
.vscode
config_global.toml
config_user.toml
config_user_local.toml
config_user_global.toml
main/Batch/common/__pycache__
main/Batch/BatchDropPool.py
mina/GenerateDataAsync.py
main/DetermineNodes_old.py
main/DetermineNodes_test.py
src/Batch/BatchDeleteJobs.py
src/Batch/test.py
config_global_local.toml
